.top { top:18px; }
.right { right:10px; }
.bottom { bottom:18px; }
.left { left:10px; }
.gutterLeft { left:0px; }
.gutterRight { right:0px; }
.pageWidth { width:960px; }
.pageWidthWithoutSideGutters { width:940px; }
.width { width:85px; }
.height { height:18px; }
.marginTop { margin-top:18px; }
.marginRight { margin-right:10px; }
.marginBottom { margin-bottom:18px; }
.marginLeft { margin-left:10px; }
.marginLeftGutter { margin-left:0px; }
.marginRightGutter { margin-right:0px; }
.paddingTop { padding-top:18px; }
.paddingRight { padding-right:95px; }
.paddingBottom { padding-bottom:18px; }
.paddingLeft { padding-left:95px; }
#skiplinks {
  position:absolute;
  top:0;
  z-index:5;
}
#skiplinks ul li {
  font-size:108%;
  list-style:none;
}
#skiplinks ul li a {
  position:absolute;
  left:-1000em;
  z-index:48;
  white-space:nowrap;
  color:#333333;
  opacity:.85;
  filter:alpha(opacity=85);
  line-height:14px;
  padding:3px;
  border-bottom:1px solid #333333;
  border-right:1px solid #333333;
}
#skiplinks ul li a:focus, #skiplinks ul li a:active {
  top:0;
  left:0;
  background-color:#eeeeee;
}
#header {
  position:absolute;
  height:72px;
  width:100%;
  top:0;
  left:0;
}
#header h1 {
  margin-top:18px;
  position:relative;
  left:200px;
}
#header blockquote {
  width:560px;
  left:190px;
  height:54px;
  position:absolute;
}
#header blockquote p { margin-top:18px; }
#footer {
  margin-top:18px;
  clear:both;
  margin-left:200px;
  margin-right:105px;
}
#content-related h3 { margin-bottom:18px; }
#content-related ul { margin-bottom:18px; }
#content-related li, #footer li { margin-bottom:0; }
